body {
  background: linear-gradient(black, #3b3b3b);
  color: white;
  font-family: sans-serif;
}

label {
  display: block;
	margin: 0 auto;
}

a {
color: white;
text-decoration: none;
}

a:hover {
  text-decoration: none;
}

textarea {
  display: block;
  padding: 2px;
  width: 500px;
  height:210px;
  margin: 0 auto;
  background: #3b3b3b;
  color: white;
}

input[type="submit"] {
  display: block;
  margin:0 auto;
  padding: 5px 20px;
}

input[type="number"] {
  color: black;
  width: 35px;
}

p {
  margin: 3px;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

.playersummaries {
  display: block;
  list-style: none;
  margin: 0 auto;
}

.playersummaries li {
  float: left;
  width: 250px;
  margin-bottom: 50px;
}

.friendsWith li {
  float: none;
  width: auto;
  height: auto;
  margin-bottom: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  min-width: 300px;
  max-width: 300px;
  overflow: hidden;
}

.navBar {
  list-style-type: none;
  margin: 0 0 15 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navBar li {
  float: left;
}
.navBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBar li a:hover {
  background-color: #555;
  color: white;
}

.teammate {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.App {
  margin-top: 1em;
  padding-bottom: 100%;
}
